<%- include('partials/header') -%>



  
    <main class="px-3">
      <h1>Library</h1>
      <div class="table-responsive">
        <table class="table table-dark table-hover table-md">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Aired</th>
              <th scope="col">Genre</th>
              <th scope="col">Status</th>
              <th scope="col">Source</th>
              <th scope="col">Duration</th>
              <th scope="col">Image</th>
              <th scope="col">Comments</th>
             </tr>
          </thead>
          <tbody>
          <%titlesList.forEach(anime => {%>
              <tr>
              <th scope="row"><%= anime._id %></th>
              <td><%= anime.title %></td>
              <td><%= anime.aired %></td>
              <td><%= anime.genre %></td>
              <td><%= anime.status %></td>
              <td><%= anime.source %></td>
              <td><%= anime.duration%></td>
              <td><%= anime.image %></td>
              <td><%= anime.comments%></td>
              </tr>
          <%})%>
          </tbody>
        </table>
      </div>
    </main>
  
</body>
<%- include('partials/footer') -%>